body {
    background: #f8f8f8;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    background: url(../img/bg.jpg) left top repeat;
    text-align: center;
    color: #fff;
}
*{
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-align: center;
}
input{
  padding: 8px;
  text-align: left;
  border: none;
  width: 100%;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: black;
    border: none;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}
input:hover[type=button], input:hover[type=submit], input:hover[type=reset] {
  color: black;
  background-color: white;
}
footer {
  background-color: black;
  position: relative;
  bottom: 170px;
  width: 100%;
  height: 30px;
  color: white;
}
.page-container {
    overflow: hidden;
    width: 1000px;
    margin: 100px auto 0 auto;
    padding-bottom: 60px;
}

.pricing-table {
    float: left;
    width: 305px;
    margin: 50px 14px 0 14px;
    background: #f8f8f8;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 2px 15px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 15px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.2);
    
}

.pricing-table strong { font-weight: 700; color: #3d3d3d; }

.pricing-table-header {
    padding: 30px 0 25px 0;
    background: #3d3d3d;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#3e3e3e));
    background-image: -webkit-linear-gradient(top, #494949, #3e3e3e);
    background-image: -moz-linear-gradient(top, #494949, #3e3e3e);
    background-image: -o-linear-gradient(top, #494949, #3e3e3e);
    background-image: -ms-linear-gradient(top, #494949, #3e3e3e);
    background-image: linear-gradient(to bottom, #494949, #3e3e3e);
}

.pricing-table-header h2 { font-size: 30px; font-weight: 700; text-shadow: 0 -2px 0 rgba(0,0,0,.25); }
.pricing-table-header h3 { margin-top: 20px; font-size: 24px; font-weight: 400; text-shadow: 0 -2px 0 rgba(0,0,0,.25); }

.pricing-table-space { height: 10px; }

.pricing-table-text {
    margin: 15px 30px 0 30px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    color: #888;
}

.pricing-table-features {
    margin: 15px 30px 0 30px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    color: #888;
}

.pricing-table-sign-up {
    margin-top: 25px;
    padding-bottom: 30px;
}

.pricing-table-sign-up a {
    display: inline-block;
    width: 180px;
    height: 40px;
    background: #3d3d3d;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#3e3e3e));
    background-image: -webkit-linear-gradient(top, #494949, #3e3e3e);
    background-image: -moz-linear-gradient(top, #494949, #3e3e3e);
    background-image: -o-linear-gradient(top, #494949, #3e3e3e);
    background-image: -ms-linear-gradient(top, #494949, #3e3e3e);
    background-image: linear-gradient(to bottom, #494949, #3e3e3e);
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 -2px 0 rgba(0,0,0,.25);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.pricing-table-sign-up a:hover {
    text-decoration: none;
    -moz-box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
    -webkit-box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
    box-shadow: 0 -5px 10px 0 rgba(0,0,0,.2) inset;
}

.pricing-table-sign-up a:active {
    -moz-box-shadow: 0 3px 8px 0 rgba(0,0,0,.2) inset;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,.2) inset;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.2) inset;
}


/* Highlighted table */

.pricing-table-highlighted {
    margin-top: 0;
}

.pricing-table-highlighted .pricing-table-header {
    background: #628842;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#730d0d), to(#730d0d));
    background-image: -webkit-linear-gradient(top, #730d0d, #730d0d);
    background-image: -moz-linear-gradient(top, #730d0d, #730d0d);
    background-image: -o-linear-gradient(top, #730d0d, #730d0d);
    background-image: -ms-linear-gradient(top, #730d0d, #730d0d);
    background-image: linear-gradient(to bottom, #730d0d, #730d0d);
}

.pricing-table-highlighted .pricing-table-sign-up a {
    background: #628842;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#730d0d), to(#730d0d));
    background-image: -webkit-linear-gradient(top, #730d0d, #730d0d);
    background-image: -moz-linear-gradient(top, #730d0d, #730d0d);
    background-image: -o-linear-gradient(top, #730d0d, #730d0d);
    background-image: -ms-linear-gradient(top, #730d0d, #730d0d);
    background-image: linear-gradient(to bottom, #730d0d, #730d0d);
}


/* BUTTONS FROM  employeesprincipalmenuHTML  miriam*/

  .buttons{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #353839;
    border-radius: 6px;
    border: 2px solid #0e1111;
  }
  .buttons:hover{
    color: #353839;
    background-color: #ffffff;
  }
  

/*   SOCIAL BUTTONS FOR SHARE ON THE INDEX  miriam*/
  
  
  @import url(htpps://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
html,body {
  height: 100%;
  position: bottom;
  width: 100%;
}
body {
  background:#ffffff 
  background-repeat: no-repeat;
}
#wrapper {
  margin: auto;
  position: bottom;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100px;
}
#wrapper #share {
  background: rgba(0, 0, 0, 0.5);
  position:bottom;
  margin: 0 auto;
  width: 620px;
}
#wrapper #share span {
  width: 100px;
  height: 100px;
  float: left;
  line-height: 100px;
  text-align: center;
  color: white;
}
.container {
  position: bottom;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto;
}
.container .social {
  color: white;
  font-size: 1.8em;
  position: bottom;
  top: 100px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.container:hover {
  cursor: pointer;
}
.twitter:hover .social {
  color: #3aaae1;
}
.facebook:hover .social {
  color: #3b5998;
}
.google:hover .social {
  color: #dd4b39;
}
.linkedin:hover .social {
  color: #007bb6;
}
@-webkit-keyframes colorTwitter {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #3aaae1;
  }
}
@keyframes colorTwitter {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #3aaae1;
  }
}
@-webkit-keyframes colorFacebook {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #3b5998;
  }
}
@keyframes colorFacebook {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #3b5998;
  }
}
@-webkit-keyframes colorGoogle {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #dd4b39;
  }
}
@keyframes colorGoogle {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #dd4b39;
  }
}

@-webkit-keyframes colorLinkedin {
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #007bb6;
  }
}
@keyframes colorLinkedin {  
  from {
    stroke: #ffffff;
  }
  to {
    stroke: #007bb6;
  }
}
@-webkit-keyframes outWaveIn {
  to {
    stroke-width: 10px;
    stroke-dasharray: 400;
  }
}
@keyframes outWaveIn {
  to {
    stroke-width: 10px;
    stroke-dasharray: 400;
  }
}
@-webkit-keyframes outWaveOut {
  from {
    stroke-width: 10px;
    stroke-dasharray: 400;
  }
  to {
    stroke: #ffffff;
    stroke-width: 5px;
    stroke-dasharray: 40;
  }
}
@keyframes outWaveOut {
  from {
    stroke-width: 10px;
    stroke-dasharray: 400;
  }
  to {
    stroke: #ffffff;
    stroke-width: 5px;
    stroke-dasharray: 40;
  }
}


ยก

.content {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 70px;
  padding: 16px;

}
.content select{
  text-align: left;
  background-color: white;
  -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border:0px;
 outline:0px;
 height: 29px;
 overflow: hidden;
 width: 100%;
 
 color:#403734;
}
.content img{
  width: 300px;
  padding-top: 16px;
}
.content table{
position: relative;

}
table{
  border-spacing: 0;
  width: 100%;

}
.content th, td{
  text-align: left;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
td.last{
  border: none;
}
.login {
  color: black;
  margin: auto;
  position: absolute;
  left: 35%;
  top: 100px;
}
/* Highlighted table */

.pricing-table-highlighted {
    margin-top: 0;
}

.pricing-table-highlighted .pricing-table-header {
    background: #628842;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#730d0d), to(#730d0d));
    background-image: -webkit-linear-gradient(top, #730d0d, #730d0d);
    background-image: -moz-linear-gradient(top, #730d0d, #730d0d);
    background-image: -o-linear-gradient(top, #730d0d, #730d0d);
    background-image: -ms-linear-gradient(top, #730d0d, #730d0d);
    background-image: linear-gradient(to bottom, #730d0d, #730d0d);
}

.pricing-table-highlighted .pricing-table-sign-up a {
    background: #628842;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#730d0d), to(#730d0d));
    background-image: -webkit-linear-gradient(top, #730d0d, #730d0d);
    background-image: -moz-linear-gradient(top, #730d0d, #730d0d);
    background-image: -o-linear-gradient(top, #730d0d, #730d0d);
    background-image: -ms-linear-gradient(top, #730d0d, #730d0d);
    background-image: linear-gradient(to bottom, #730d0d, #730d0d);
}

  .buttons{
    text-decoration: none;
	display: block;

	width:300px;
	height:60px;
	margin-left: 100;
	padding: 15px 5 0 0;
    font-weight: 6600;
    font-size: 20px;
    color: #ffffff;
    background-color: #646a6d;
    border-radius: 12px;
    border: 2px solid #0f0e15;
  }
  .buttons:hover{
    color: #0f0e15;
    background-color: #646a6d;
  }
/*   footer{
    position:absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 70px;
    width: 100%;
    padding: 8px;

  } */
  ul.SM li{
      list-style-type: none;
      display: inline;
      width: auto;
      float: left;
      padding: 8px;
  }

.content{

}

table.employeelist {
    border: 3px solid #93722c;
    border-radius: 15px;
    padding: 20px;
    margin: 0px auto 10px;
    width: 80%;
	display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
	
}

table[Attributes Style] {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
	 
}

/* new footer  */